body {
  font-family:Arial, Helvetica, sans-serif;
  background-image: url("bg2.jpg");
  background-size: cover;
}

#googlemap {
  position: static;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.center-body {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  height: 150vh;
  text-align: center;
  padding-top: 5vh;
  background-size: cover;
  font-weight: bold;
  /* background-color: #006699; */
  background-color: #878E88;
}

h3 {
  color: #D4DFC7;
}

.city {
  font-size: 2em;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  color: #FEF6C9;
  background-color: #2C302E;
  border-radius: 25px;
  transition-duration: 0.2s;
}

.city:hover{
  transition-duration: 0.3s;
  color: #FFED85;
  font-size: 210%;
}

.search-box {
  margin-top: 1em;
  width: 65%;
  height: 3em;
  border-radius: 15px;
}

input {
  padding: 12px 20px;
}

.greetingsection {
  height: 10em;
  background-color: red;
}
